body {
  background-color: #29383d;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
}

img {
  object-fit: cover;
}
.headIcon{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
#morePerson{
  background-color: var(--jo_dGrey1);
  z-index: 999;
}
#activityTitle {
  margin: 11rem auto auto auto;
  width: 75%;
  padding: 0 -10px 0 0;
  color: white;
}

#mainContent {
  width: 75%;
  margin: auto;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  /* background: radial-gradient(ellipse, #FFFFFF 0%, #E9E7F1 95%, #203F6E 99.9%, #314568 100%); */
  background-color: white;
}

#activityImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.activityExIcon {
  object-fit: cover;
  width: 30px;
  height: 30px;
}

#activityExplain {
  background-color: #f3f3f3;
  margin-top: 100px;
  margin-bottom: 150px;
}

#textarea {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 150px;
  border: 1px solid var(--jo_dGrey2);
  overflow: auto;
  border-radius: 10pt;
  font-size: 1.25rem;
}

.msgContent {
  margin-left: 10rem 8%;
  margin-right: 10rem 8%;
  padding: 1.5rem;
}

.msgContent img {
  width: 50px;
  height: 50px;
}

#textContent {
  margin-left: 8.33%;
  margin-right: 8.33%;
}

#activityImgSection:hover {
  filter: brightness(0.8);
}

#activityImgSection:hover #collectBtnArea {
  visibility: visible;
}

#collectBtnArea {
  position: absolute;
  left: 13%;
  top: 10%;
  /* visibility: hidden; */
  transform: translate(-50%, -50%) scale(0.5);
  /* color: white; */
  font-weight: 600;
}

#colectText {
  padding-left: 10px;
}


.textRed {
  color: rgb(255, 152, 170);
}

#activityDes {
  margin-top: 25px;
}

#activityDes h5 {
  border-left: grey 2px solid;
  margin-left: 30px;
  margin-top: 10px;
  padding-left: 10px;
}


#canvas {
  background-color: #29383d;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}
