body{
    background-color: lightblue;
}
.chat_icon>img{
    width: 150px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, .5));
}
.chat_icon>img:hover{
    cursor: pointer;
}

/* 聊天室style */
.chatRoom{
    margin: auto;
    width: 450px;
    position: fixed;
    bottom: 3px;
    right: 0px;
    display: none;
    
}
.chat_avtive{
    display: block;
}
.chatTitle{
    height: 50px;
    border-radius: 10px 10px 0 0;
    background-color: var(--jo_dGrey1);
   clear: both;
}
.chatTitle h4{
    color: white;
    display: inline-block;
    padding: 0 10px;
    margin-top: 10px;

}
.chatBody{
    display: flex;
}
.chatLeftbox{
    flex: 0.6;
    height: 400px;

}
.chatRightbox{
    flex: 0.4;
    background-color: var(--jo_lGrey1);
    padding: 10px;
    height: 400px;
    overflow: auto;
    
}
.chatRightbox li{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.chatRightbox li,.chatRightbox img,.chatRightbox h5{
    cursor: pointer;
}
.chatRightbox li:hover{
    background-color: var(--jo_lGrey2);
    
}
.chatRightbox img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.chatRightbox h5{
    margin-left: 10px;
}

.msgBox{
    background-color:white;
    height: 350px;
    overflow-y: auto;
}
.msgBox div{
    margin:10px;
}
.inputMsg{
    height: 50px;
    background-color: var(--jo_dGrey3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputMsg input{
    height: 36px;
    border: var(--jo_dGrey3) 1px solid;
    border-radius: 10px;
    padding:10px;
    outline: none;
}
.msgList{
    width: 140px;
    padding: 10px;
    border-radius: 10px;

}
.msgList{
    background-color: var(--jo_lGrey1);
    float: left;
}
.myMsg{
    background-color: var(--jo_yellow);
    float: right;
}
button.modal_close{
    width: 30px;
    height: 30px;
    right: 20px;
    top: 10px;
}
.chatRoom button.modal_close span,
.chatRoom span:before,.chatRoom span:after{
    width: 20px;
}




/* 滾動條 */
.chatRightbox::-webkit-scrollbar,
.msgBox::-webkit-scrollbar {
    width: 20px;
    border-radius: 10px;
}

.chatRightbox::-webkit-scrollbar-thumb,
.msgBox::-webkit-scrollbar-thumb {
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
