    /* 下背景色才知道區塊位置 */

    body {
        overflow-x: hidden;
    }

    /* 最外層的container(主畫面&側邊欄) */

    .grid-container {
        display: flex;
        margin-top: 60px;
        /* height: 100vh; */
        width: 100%;
    }

    /* 左邊側邊欄區開始 */

    /* 日期選單區 */
    .actDateSelect input {
        /* outline: none; */
        border: none;
        border: 1.5px var(--jo_dGrey3) solid;
        border-radius: 10px;
        height: 40px;
        font-size: 1.2rem;
        padding: 5px;
    }

    .sidebar {
        z-index: 1;
        width: 5%;
        height: 100vh;
        position: relative;
        position: fixed;
        background-color: white;
        overflow: scroll;
        transition: 1s ease;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    }

    /* .sidebar_scroll {
        overflow: hidden;
    } */

    /* 控制側邊欄縮放的button開始*/

    .slideBox {
        display: flex;
        position: absolute;
        z-index: 2;
        top: 75px;
        height: 42px;
        width: 2rem;
        border-radius: 5px 0 0 5px;
        right: 0;
        /* background-color: #81C7D4; */
        /* box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, .3); */
    }

    /* .slideBox:hover {
         background-color: #AFB6BC; 
    } */

    /* 控制側邊欄縮放的button結束*/

    /* 旋轉sidebar箭頭開始 */

    .rotate {
        -moz-transition: all 2s linear;
        -webkit-transition: all 2s linear;
        transition: all 0.3s linear;
    }

    .down {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    #slideIcon {
        margin: auto;
        filter: sepia(28%) saturate(5471%) hue-rotate(162deg) brightness(88%) contrast(85%);
        height: 30px;
        width: 20px;
    }

    .sidebar_small {
        width: 16%;
    }

    /* 旋轉sidebar箭頭結束 */

    /* 側邊欄hr的線開始 */

    .sidebarTitle {
        display: block;
        height: 100%;
        margin-top: 1.2rem;
        margin-bottom: 0.5rem;
    }

    /* 側邊欄hr的線結束 */

    /* 側邊欄區塊 */

    #sideBarFilter {
        /* background-color: yellow; */
        align-content: center;
        justify-content: center;
        margin: auto;
        text-align: center;
        padding: 8rem 20px 4rem 20px;
    }

    .sidebar ul {
        width: 100%;
        display: flex;
    }

    /* icon跟文字同一排 */

    #sideBarFilter li {
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    #sideBarFilter li select {
        width: 100%;
    }

    #sideBarFilter li div {
        display: flex;
        margin-top: 0;
    }

    .sidebarImgTitle {
        display: flex;
    }

    .sidebarWord h5 {
        margin-left: 0.5rem;
        align-self: center;
        /* background-color: turquoise; */
    }

    .sidebarImg {
        display: block;
        width: 30px;
        height: 30px;
        margin-bottom: 1.5rem;
        /* padding-bottom: 8px; */
    }

    /* radio的位置 */

    #sideRadio {
        display: flex;
        justify-content: center;
    }

    #sideRadio div {
        display: flex;
        align-items: center;
        margin: 0 0.5rem;
    }

    #sideRadio label {
        margin: auto;
        font-size: 1.2rem;
    }

    /* 左邊側邊欄區結束 */

    /* 主畫面大區塊開始 */

    .main-content {
        transform: translateX(5%);
        width: 95%;
        transition: 1s ease;
        margin-top: 3rem;
        /* background-color: var(--jo_lGrey2);  */
    }

    /* 旋轉木馬區開始 */

    .indexCarousel {
        display: flex;
        margin: auto;
        /* background-color: var(--jo_lGrey2); */
        height: 440px;
        border-radius: 25px;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
        position: relative;
    }

    /* 內容物按鈕 */

    .caButton {
        padding-left: 1rem;
        margin-top: 5rem;
        bottom: 2rem;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: right;
    }

    /* 旋轉木馬區結束 */

    /* 側邊欄縮放比例 */

    .main-content_large {
        transform: translateX(17.5%);
        width: 85%;
    }

    /* 包所有活動的區塊(文字&圖塊) */

    .wholeAct {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .filterAreaPop {
        /* background-color: tomato; */
        color: white;
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 1260px;
        display: flexbox;
        flex-direction: column;
        align-items: baseline;
        padding: 0px 2rem;
    }

    .filterAreaPop h3{
        color: white;
        font-weight: bold;
        margin: 0;
        /* padding-left: 0.8rem; */
        margin-top: 3rem;
        margin-bottom: 1rem;

    }

    .filterArea {
        /* background-color: tomato; */
        color: white;
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 1300px;
        display: flexbox;
        flex-direction: column;
        align-items: baseline;
        padding: 0px 3.8rem;
    }

    .filterArea h3 {
        color: white;
        font-weight: bold;
        margin: 0;
        padding-left: 0.8rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    /* 為您推薦文字區塊開始 */
    .actDes{
        width: 220px;
        height: 40px;
    }

    .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .filterAreaRe {
        /* background-color: tomato; */
        color: white;
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 1300px;
        padding: 0px 2rem
    }

    .filterAreaRe h3 {
        color: white;
        font-weight: bold;
        margin: 0;
        margin-left: 0;
        margin-top: 5rem;
        margin-bottom: 0.2rem;
    }

    .filterAreaRe h6 {
        margin: 0;
        /* margin-bottom: 6px; */
    }

    .filterAreaRe h6 img {
        width: 9%;
        margin: 0;
    }

    .areaRecommend {
        /* background-color: cornflowerblue; */
        display: flex;
        flex-direction: column;
        align-items: baseline;
        /* align-content: flex-end; */
        justify-content: space-between;
        margin-right: auto;
    }

    .areaTime {
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        /* width:100%;*/
        margin-left: auto;
    }

    .areaItem1 {
        display: inline-flex;
        margin-right: 1.2rem;
    }

    .areaItem2 {
        display: inline-flex;
        margin-right: 1.2rem;
    }

    .areaItem3 {
        display: inline-flex;
        margin-right: 1.2rem;
    }

    .areaRecommend .reFlag {
        height: 20px;
        width: 20px;
    }

    /* 篩選bar樣式開始 */

    .areaTime .detal select {
        width: 160px;
        height: 35px;
        /* padding-right: 5px; */
        /* border:0px; 
            outline:0px; */
        /* border-radius: 25px; */
    }

    /* 篩選bar樣式結束 */

    /* 搜尋欄開始 */

    .searchBox input {
        width: 160px;
        height: 35px
    }

    .searchBox button {
        width: 35px;
        height: 35px;
    }

    /* 搜尋欄結束 */

    .recommendArea {
        display: inline-flex;
        margin: auto;
        margin-bottom: 41px;
    }

    .ActButton {
        position: absolute;
        bottom: 2rem;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* 為您推薦圖片滑動 */

    .innerPicSlide {
        position: relative;
    }

    .innerPicSlide #innerFlag {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0px;
        top: 5px;
    }

    /* 為您推薦的幾人收藏&喜歡 */

    .collectAndLike {
        justify-content: space-between;
        /* align-items: center; */
        margin-top: .5rem;
    }

    .collectAndLike div h6 {
        color: white;
        margin-bottom: 0;
    }

    /* 為您推薦文字區塊結束 */

    /* 您附近的活動開始 */

    .areaNearby {
        /* background-color: cornflowerblue; */
        display: flex;
        flex-direction: column;
        align-items: baseline;
        /* align-content: flex-end; */
        /* justify-content: space-between; */
        margin-right: auto;
    }

    .areaNearby div h3 {
        color: white;
        font-weight: bold;
        padding: 0;
        margin: 0;
        margin-left: 0;
        /* margin-top: 5rem; */
        margin-bottom: 0.2rem;
    }

    .areaNearby div h6 {
        margin: 0;
        /* margin-bottom: 6px; */
    }

    .areaNearby div img {
        height: 20px;
        width: 20px;
    }

    .yourArea {
        display: inline-flex;
        margin: auto;
        margin-bottom: 12px;
    }

    /* 您附近的活動結束 */

    /* 三隻鳥鳥banner開始 */

    .myBanner {
        display: flex;
        width: 100%;
        height: 200px;
        background-color: #DFDFDF;
        opacity: 0.9;
        margin-top: 2.3rem;
        margin-bottom: 11rem;
        justify-content: space-around;
        /* box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45); */
        /* border-radius: 25px; */
        /* box-shadow: 0 0 30px rgba(100, 100, 150, 0.8); */
        box-shadow: 0 0 10px rgba(222, 222, 222, 0.8);
        /* box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45); */
        /* border-radius: 25px; */
    }

    .bannerFirst {
        width: 100%;
        height: 200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(222, 222, 222, 0.8);
        /* box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45); */
        border-radius: 25px;
        /* box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45); */
    }

    .bannerPic {
        height: 100px;
        width: 100px;
        margin: auto;
    }

    .bannerWord {
        margin: auto;
        text-align: center;
        /* background-color: cyan; */
    }

    .bannerWord h3 {
        color: #616E7D;
        font-weight: bold;
        text-align: center;
        /* background-color: crimson; */
    }

    /* 三隻鳥鳥banner結束 */

    /* Back to top button */

    @media screen and (prefers-reduced-motion: no-preference) {
        html, body {
            scroll-behavior: smooth;
        }
    }

    .back-to-top-link {
        display: inline-block;
        text-decoration: none;
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
        /* width: 3rem;
        height: 3rem; */
        /* border-radius: 50%; */
        /* background-color: #D6E3F0; */
        /* padding: 0.25rem; */
    }

    .back-to-top-wrapper {
        position: absolute;
        right: 2.25rem;
        bottom: -5em;
        width: 3em;
        pointer-events: none;
    }

    .back-to-top-link {
        position: sticky;
        pointer-events: all;
        top: calc(100vh - -43em);
        z-index: 999;
    }

    .back-to-top-wrapper a img {
        height: 60px;
        width: 60px;
        margin-right: 1rem;
    }


