* {
    box-sizing: border-box;
    padding: 0;
}

body {
    overflow-x: hidden;
}
.jo_col_pc{
    margin-top: 8rem;

}
img {
    object-fit: cover;
}

form div {
    padding: 5px;
    object-fit: contain;
}

#uploadBtn {
    border-radius: 12px
}

form {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    border-radius: 25px;
}

.form-control, .custom-select {
    border-radius: 10px;
}

#formHeader {
    background-image: url("../img/活動註冊/jo_activItyTop.png");
    filter: brightness(1.15) opacity(0.9);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px 25px 0px 0px;
    background-position: 10%;

}
#birdPostion{
    position: absolute;
    bottom: 42px;
    right: 90px;
}
#birdPostion img{
height: 50px;}

#birdTalk{
background-color: #F3F3F3;
border-radius: 9px;

}
.modal-dialog>.jomodal_title{
    padding: 0px;
}
.form-group label {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

#applicationForm {
    position: relative;
    width: 70%;
    left: 15%;
}

#uploadBtn {
    width: 160px;
}

.pnlEventCalendar {
    border: 1px black solide;
    display: none;
}

/* label{
    font-weight: 500;} */

tr td {
    font-size: 12px;
    text-align: center;
    margin: 5px
}

tr th {
    font-size: 12px;
    text-align: center
}

/*CSSSSSS */

body {
    margin: 0;
    height: 100%;
}
#appForm input,
#appForm select {
    font-size: 1.2rem;
}

