* {
  box-sizing: border-box;
  padding: 0;
}

img {
  object-fit: cover;
  width: 60%;
}
div {
  padding: 5pt;
  object-fit: contain;
}

body {
  background-color: #f3f3f3;
}

#content {
  padding: 50px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 25px;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(bottom, rgb(105, 173, 212) 0%, rgb(23, 82, 145) 84%);
    background-image: -o-linear-gradient(bottom, rgb(105, 173, 212) 0%, rgb(23, 82, 145) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(105, 173, 212) 0%, rgb(23, 82, 145) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(105, 173, 212) 0%, rgb(23, 82, 145) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(105, 173, 212) 0%, rgb(23, 82, 145) 84%);
    
    /* background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(105, 173, 212)), color-stop(0.84, rgb(23, 82, 145))); */
    /* background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(254, 255, 255)), color-stop(0.84, rgb(105, 173, 212))); */
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(221, 209, 209)),color-stop(0.05, rgb(254, 255, 255)), color-stop(0.84, rgb(140,203,215)));
    margin: 0;
}