<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../assets/js/jquery-3.5.1.min.js"></script>
    <script src="../assets/js/jquery.qrcode.min.js"></script>
    <script src="../assets/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/css/reset.css">

    <!-- icon -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/bootstrap/bootstrap.css">

    <!-- char.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="../assets/css/jo_css.css">
    <link rel="stylesheet" href="../assets/css/jo_animation.css">
    <link rel="stylesheet" href="../assets/css/member.css">

</head>

<body>
    <div class="jo_navBar">
        <a><img id="jo_logo" class="jo_hover" src="../assets/img/jo_images/jo_logo.svg" alt=""></a>


        <div id="jo_navBar_L">
            <div class="jo_navTitleYellow">
                <span class="jo_hover">首頁</span>
                <hr>
            </div>

            <div class="jo_navTitleYellow">
                <span class="jo_hover">Jo誼廳</span>
                <hr>
            </div>

            <div class="jo_navTitleYellow">
                <span class="jo_hover">Jo幣儲值</span>
                <hr>
            </div>

            <div class="jo_navTitleYellow">
                <span class="jo_hover">我要Jo團</span>
                <hr>
            </div>

            <div class="jo_navTitleYellow">
                <span class="jo_hover">Jo問</span>
                <hr>
            </div>
        </div>


        <div id="jo_navBar_R">
            <div id="jo_notLogged" style="display: none;">
                <div class="jo_navTitleYellow">
                    <span class="jo_hover">註冊</span>
                    <hr>
                </div>

                <div class="jo_navTitleYellow">
                    <span class="jo_hover">登入</span>
                    <hr>
                </div>
            </div>

            <div id="jo_login">
                <div class="jo_money">
                    <img src="../assets/img/jo_icon/jo_i_coin.svg" alt="">
                    <div>
                        <h5>$3333</h5>
                    </div>
                </div>

                <div class="jo_bell ">
                    <div id="jo_infoNum">
                        <h6></h6>
                    </div>
                    <img src="../assets/img/jo_icon/jo_i_bell.svg" alt="" class="jo_hover">

                </div>

                <div class="jo_profile">
                    <img class="joPic_hover jo_hover" src="../assets/img/memberPic/bulbasaur.jpg" alt="">
                </div>


            </div>
        </div>


        <div class=" jo_msgBar jo_notice  jo_scrollbar jo_show">
            <div class="jo_noticeTri"> </div>
            <ul>
                <h5 id="isRead" class="joTitle_hover">-全部標示為已讀-</h5>
                <li>
                    <h5>您所參加的活動 <span>FKParty</span> 已經成團。</h5>
                </li>
                <li>
                    <h5>您所參加的活動 <span>閃光小烏龜試膽大會</span> 已經成團。</h5>
                </li>
                <li>
                    <h5>您所參加的活動 <span>過度呼吸首映會</span> 已經成團。</h5>
                </li>
                <li>
                    <h5>您所參加的活動 <span>SHOW演唱會</span> 已被取消。</h5>
                </li>
                <li>
                    <h5>您所參加的活動 <span>妙蛙種子聚會</span> 已經成團。</h5>
                </li>
                <li>
                    <h5>您所跟隨的Jo主 <span>Show</span> 開了新團<span>ShowParty</span></h5>
                </li>
                <li>
                    <h5>您所跟隨的Jo主 <span>FK</span> 開了新團<span>兔耳海咪咪</span></h5>
                </li>
                <li>
                    <h5>您所跟隨的Jo主 <span>小丹尼</span> 開了新團<span>小丹尼英語教室</span></h5>
                </li>
                <li>
                    <h5>您所參加的活動 <span>你的名字繪畫大會</span> 已經成團。</h5>
                </li>
                <li>
                    <h5>您所跟隨的Jo主 <span>小小絞肉小象幫幫</span> 開了新團<span>紙尿布展示會</span></h5>
                </li>




            </ul>
        </div>

        <div class="jo_msgBar jo_house  jo_scrollbar  jo_show">
            <div class="jo_houseTri"> </div>
            <div class="jo_house_top">
                <!-- 大頭照 -->
                <div class="jo_houseHeader">
                    <img src="../assets/img/memberPic/bulbasaur.jpg" alt="">

                </div>
                <!-- 個人資料 -->
                <div class="jo_houseInfo">
                    <h4>妙蛙種子</h4>
                    <div class="jo_houseIcon">
                        <img src="../assets/img/jo_images/jo_i_diamond.svg" alt="">
                        <img src="../assets/img/jo_images/jo_i_diamond.svg" alt="">
                    </div>
                    <div class="jo_houseBtn">
                        <input type="button" value="JoJo小屋" class="jo_btn jo_btnWater jo_btn_s">
                        <input type="button" value="登出" class="jo_btn jo_btnBlue jo_btn_s">
                    </div>

                </div>
            </div>
            <div class="jo_house_bottom jo_scrollbar">
                <div class="jo_houseHosting">
                    <h4>正在主Jo的活動</h4><span>共3項</span>
                    <ul class="jo_houseUl">

                        <!-- 活動卡片 -->
                        <li>
                            <div> <img src="../assets/img/activityPic/BL.jpg" alt=""></div>
                            <div class="jo_house_joingTitle">
                                <h5>過度呼吸首映會</h5>
                                <h6>2020/08/21</h6>
                            </div>
                            <div class="jo_house_joingBtn"> <input type="button" value="取消Jo團"
                                    class="jo_btn jo_btnBlue jo_btn_s"></div>
                        </li>
                        <li>
                            <div> <img src="../assets/img/activityPic/digital.jpg" alt=""></div>
                            <div class="jo_house_joingTitle">
                                <h5>數碼寶貝大冒險劇場版</h5>
                                <h6>2020/08/21</h6>
                            </div>
                            <div class="jo_house_joingBtn"> <input type="button" value="取消Jo團"
                                    class="jo_btn jo_btnBlue jo_btn_s"></div>
                        </li>
                    </ul>
                </div>

                <div class="jo_houseJoing">
                    <h4>正在參Jo的活動</h4><span>共3項</span>
                    <ul class="jo_houseUl">

                        <!-- 活動卡片 -->
                        <li>
                            <div> <img src="../assets/img/activityPic/kim.jpg" alt=""></div>
                            <div class="jo_house_joingTitle">
                                <h5>鬼滅之刃劇場版</h5>
                                <h6>2020/08/21</h6>
                                <h6>主Jo - 姍姍</h6>
                            </div>
                            <div class="jo_house_joingBtn">
                                <input type="button" value="付款去" class="jo_btn jo_btnRed jo_btn_s">
                                <input type="button" value="取消參Jo" class="jo_btn jo_btnBlue jo_btn_s">
                            </div>
                        </li>
                        <li>
                            <div> <img src="../assets/img/activityPic/onePunchMan.jpg" alt=""></div>
                            <div class="jo_house_joingTitle">
                                <h5>一拳超人</h5>
                                <h6>2020/08/21</h6>
                                <h6>主Jo - 小浣熊</h6>
                            </div>
                            <div class="jo_house_joingBtn">
                                <input type="button" value="已付款" class="jo_btnGrey">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




    <div class="jo_col_pc">

        <!--會員介紹左 -->
        <div class=" memberMain" id="memberMain_L">

            <!-- 基本資料 -->
            <div class="memberInfo">
                <img src="../assets/img/memberPic/bulbasaur.jpg" alt="">
                <div>
                    <h4 class="memberName">妙蛙種子</h4>
                </div>
                <div class="memberIcon">
                    <img src="../assets/img/jo_images/jo_medalsCopper.svg" alt="">
                    <img src="../assets/img/jo_images/jo_medalsSilver.svg" alt="">
                    <img src="../assets/img/jo_images/jo_medalsGold.svg" alt="">
                </div>

                <div><input type="button" class="jo_btn jo_btnWater  jo_btn_m" value="編輯個人檔案"></div>

            </div>

            <div class="hrDIv"></div>

            <!-- 評分 -->
            <div class="memberInfo">
                <div class="memberRating">
                    <ul>
                        <li> <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt=""></li>
                        <li> <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt=""></li>
                        <li> <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt=""></li>
                        <li> <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt=""></li>
                        <li> <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt=""></li>

                        <li>
                            <h5>(50人評分)</h5>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hrDIv"></div>


            <!-- 自我介紹 -->
            <div class="memberInfo">
                <div class="memberIntro">
                    <h5>大家好我是姍姍，
                        很高興跟大家見面～</h5>
                </div>
            </div>

            <div class="hrDIv"></div>

            <div id="memberChart">
                <canvas id="chartCanvas" width="1px" height="1px"></canvas>
            </div>

        </div>

        <!--會員介紹右 -->
        <div class=" memberMain" id="mamemberMain_R">
            <div id="mamberBookmark">
                <ul id="bookMark_ul">
                    <li class="bookMarkOriginal">
                        <h5>我的收藏</h5>
                    </li>
                    <li class="bookMarkOriginal jo_hover">
                        <h5>正在參Jo</h5>
                    </li>
                    <li class="bookMarkOriginal">
                        <h5>正在主Jo</h5>
                    </li>
                    <li class="bookMarkOriginal">
                        <h5>歷史紀錄</h5>
                    </li>
                    <li class="bookMarkOriginal">
                        <h5>關注列表</h5>
                    </li>
                    <li class="bookMarkOriginal">
                        <h5>Jo轉幸運盤</h5>
                    </li>
                </ul>
            </div>



            <!-- ------------------------------------------ -->
            <!-- 右方內容 -->
            <div id="mamemberContent">


                <!-- 標題區塊 -->
                <div class="title">

                    <h2>正在參Jo的活動</h2>

                    <div class="hisSelectDiv">
                        <div class="jo_navTitleYellow hisSelect">
                            <span class="jo_hover">主Jo歷史</span>
                            <hr>
                        </div>

                        <div class="jo_navTitleYellow hisSelect">
                            <span class="jo_hover">參Jo歷史</span>
                            <hr>
                        </div>
                    </div>

                    <div class="followSelectDiv">
                        <div class="jo_navTitleYellow followSelect">
                            <span class="jo_hover">我關注的會員</span>
                            <hr>
                        </div>

                        <div class="jo_navTitleYellow followSelect">
                            <span class="jo_hover">我的黑名單</span>
                            <hr>
                        </div>
                    </div>


                    <!-- 篩選區塊 -->
                    <div class="memberFilter">

                        <select name="" id="" class="jo_hover">
                            <option selected="true" label="排序"></option>
                            <option value="時間新>舊">時間新>舊</option>
                            <option value="時間舊>新">時間舊>新</option>
                            <option value="已付款>未付款">已付款>未付款</option>
                            <option value="未付款>已付款">未付款>已付款</option>
                        </select>

                        <div class="searchBox"> <input type="search" name="" id="" placeholder="搜尋" class="jo_hover">
                            <button class="jo_btn jo_btn_s jo_btnWater jo_hover"><i class="fa fa-search"></i></button>
                        </div>

                    </div>
                </div>
                <!-- 標題區塊結束 -->


                <div class="content">

                    <!-- ------------------------------------------ -->
                    <!-- 我的最愛區塊 -->
                    <div id="collectSection" class="memberEvent row">

                        <!-- 我的最愛卡片 -->
                        <div class="collectCard col-4">
                            <div class="collectPic"><img class="jo_hover pic_hover" src="../assets/img/activityPic/pokemon.png"
                                    alt=""></div>
                            <div class="collectTitle">
                                <div>
                                    <h5 class="jo_hover title_hover">寶可夢咖啡廳聚會</h5>
                                    <h6>2020/08/21</h6>
                                </div>
                                <div class="jo_heartDiv">
                                    <img class="jo_heart collectHeart " src="../assets/img/jo_images/jo_heart.svg" alt="">
                                    <img class="jo_heart jo_hover" src="../assets/img/jo_images/jo_heart.svg" alt="">
                                </div>

                            </div>
                        </div>
                        <!-- 我的最愛卡片結束 -->

                        <!-- 我的最愛卡片 -->
                        <div class="collectCard col-4">
                            <div class="collectPic"><img class="jo_hover pic_hover" src="../assets/img/activityPic/kim.jpg"
                                    alt=""></div>
                            <div class="collectTitle">
                                <div>
                                    <h5 class="jo_hover title_hover">鬼滅之刃劇場版首映</h5>
                                    <h6>2020/10/30</h6>
                                </div>
                                <div class="jo_heartDiv">
                                    <img class="jo_heart collectHeart " src="../assets/img/jo_images/jo_heart.svg" alt="">
                                    <img class="jo_heart jo_hover" src="../assets/img/jo_images/jo_heart.svg" alt="">
                                </div>

                            </div>
                        </div>
                        <!-- 我的最愛卡片結束 -->



                    </div>

                    <!-- ------------------------------------------ -->
                    <!-- 正在參Jo區塊 -->
                    <div id="joiningCardSection" class="memberEvent">
                        <div class="joiningCard">
                            <div class="joiningPic">
                                <img class="jo_hover pic_hover" src="../assets/img/activityPic/pokemon.png" alt="">
                            </div>
                            <div class="joiningInfo ">
                                <ul>
                                    <li>
                                        <h4 class="jo_hover title_hover">寶可夢咖啡廳聚會</h4>
                                    </li>
                                    <li>
                                        <h6>主Jo：姍姍</h6>
                                    </li>
                                    <li>
                                        <h6>活動日期：2020/08/21</h6>
                                    </li>
                                    <li>
                                        <h6>活動地點：寶可夢咖啡廳</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="joiningBtn">
                                <div><input type="button" class="jo_btn jo_btnRed jo_btn_s" value="付款去"></div>
                                <div><input type="button" class="jo_btn jo_btnBlue jo_btn_s cancelJoing_btn"
                                        value="取消參Jo" data-toggle="modal" data-target="#cancelJoing_modal"></div>
                            </div>
                        </div>
                        <div class="joiningCard">
                            <div class="joiningPic">
                                <img class="jo_hover pic_hover" src="../assets/img/activityPic/BL.jpg" alt="">
                            </div>
                            <div class="joiningInfo ">
                                <ul>
                                    <li>
                                        <h4 class="jo_hover title_hover">過度呼吸首映會</h4>
                                    </li>
                                    <li>
                                        <h6>主Jo：姍姍</h6>
                                    </li>
                                    <li>
                                        <h6>活動日期：2020/11/07</h6>
                                    </li>
                                    <li>
                                        <h6>活動地點：TigerCity</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="joiningBtn">
                                <div></div>
                                <div><input type="button" class="jo_btnGrey jo_btn_s" value="已付款"></div>
                            </div>
                        </div>
                    </div>

                    <!-- ------------------------------------------ -->
                    <!-- 正在主Jo區塊 -->
                    <div id="hostingSection" class="memberEvent">
                        <div class="joiningCard">
                            <div class="joiningPic hostingPic">
                                <img class="jo_hover pic_hover" src="../assets/img/activityPic/A.jpg" alt="">
                            </div>
                            <div class="joiningInfo hostingInfo">
                                <ul>
                                    <li>
                                        <h4 class="jo_hover title_hover">全世界妙蛙種子聚集大會</h4>
                                    </li>
                                    <li>
                                        <h6>主Jo：妙蛙種子</h6>
                                    </li>
                                    <li>
                                        <h6>活動日期：2020/10/20</h6>
                                    </li>
                                    <li>
                                        <h6>活動地點：妙蛙種子不可思議森林</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="joiningBtn">
                                <div><input type="button" class="jo_btn jo_btnBlue jo_btn_s cancelHoding_btn"
                                        value="取消Jo團" data-toggle="modal" data-target="#cancelHoding_modal"></div>
                            </div>
                        </div>

                    </div>


                    <!-- ------------------------------------------ -->
                    <!-- 歷史活動 -->
                    <!-- 主Jo歷史 -->
                    <div class="memberEvent hisHostSection">
                        <div class="joiningCard">
                            <div class="joiningPic hisHostPic">
                                <img class="jo_hover pic_hover" src="../assets/img/activityPic/BTS.png" alt="">
                            </div>
                            <div class="joiningInfo hisHostInfo">
                                <ul>
                                    <li>
                                        <h4 class="jo_hover title_hover">BTS演唱會</h4>
                                    </li>
                                    <li>
                                        <h6>主Jo：妙蛙種子</h6>
                                    </li>
                                    <li>
                                        <h6>活動日期：2018/12/9</h6>
                                    </li>
                                    <li>
                                        <h6>活動地點：桃園棒球場</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="joiningBtn">
                                <div><input type="button" class="jo_btn jo_btnWater jo_btn_s" value="查看評價"
                                        data-toggle="modal" data-target="#seeRaking_modal"></div>
                            </div>
                        </div>

                    </div>

                    <!-- 參加歷史 -->
                    <div class="memberEvent hisHostSection">

                        <!-- 卡片 -->
                        <div class="joiningCard">
                            <div class="joiningPic hisJoinPic">
                                <img class="jo_hover pic_hover" src="../assets/img/activityPic/digital.jpg" alt="">
                            </div>
                            <div class="joiningInfo hisJoinInfo">
                                <ul>
                                    <li>
                                        <h4 class="jo_hover title_hover">數碼寶貝 LAST EVOLUTION 絆</h4>
                                    </li>
                                    <li>
                                        <h6>主Jo：姍姍來了</h6>
                                    </li>
                                    <li>
                                        <h6>活動日期：2020/05/20</h6>
                                    </li>
                                    <li>
                                        <h6>活動地點：台中市西屯區河南路三段120號 TigerCity</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="joiningBtn">

                                <div><input type="button" class="jo_btn jo_btnOrange jo_btn_s" value="留下評價"
                                        data-toggle="modal" data-target="#giveStar_modal"></div>
                            </div>
                        </div>

                        <!-- 卡片 -->
                        <div class="joiningCard">
                            <div class="joiningPic hisJoinPic">
                                <img class="jo_hover pic_hover" src="../assets/img/activityPic/onePunchMan.jpg" alt="">
                            </div>
                            <div class="joiningInfo hisJoinInfo">
                                <ul>
                                    <li>
                                        <h4 class="jo_hover title_hover">一拳超人見面會</h4>
                                    </li>
                                    <li>
                                        <h6>主Jo：Be好神</h6>
                                    </li>
                                    <li>
                                        <h6>活動日期：2019/01/01</h6>
                                    </li>
                                    <li>
                                        <h6>活動地點：台中市北區三民路三段161號 中友百貨</h6>
                                    </li>
                                </ul>
                            </div>
                            <div class="joiningBtn">
                                <div></div>
                                <div><input type="button" class="jo_btnGrey jo_btn_s" value="已評價"></div>
                            </div>
                        </div>

                    </div>


                    <!-- ------------------------------------------ -->
                    <!-- 關注 -->
                    <!-- 關注列表 -->
                    <div id="" class="memberEvent row followSection">

                        <!-- 我的關注卡片 -->
                        <div class="followCard col-3 ">
                            <div class="followPic"><img class="jo_hover pic_hover" src="../assets/img/memberPic/gun.jpg" alt="">
                            </div>
                            <div class="followTitle">
                                <div>
                                    <h4 class="jo_hover title_hover">大傑</h4>
                                </div>

                                <div>
                                    <input type="button" class="jo_btn jo_btnBlue jo_btn_s" value="取消關注">
                                </div>

                            </div>
                        </div>
                        <!-- 我的關注卡片結束 -->
                        <!-- 我的關注卡片 -->
                        <div class="followCard col-3 ">
                            <div class="followPic"><img class="jo_hover pic_hover" src="../assets/img/memberPic/roland.jpg"
                                    alt="">
                            </div>
                            <div class="followTitle">
                                <div>
                                    <h4 class="jo_hover title_hover">蘿蘭德</h4>
                                </div>

                                <div>
                                    <input type="button" class="jo_btn jo_btnBlue jo_btn_s" value="取消關注">
                                </div>

                            </div>
                        </div>
                        <!-- 我的關注卡片結束 -->








                    </div>

                    <!-- 黑名單列表 -->
                    <div id="" class="memberEvent row followSection">

                        <!-- 我的黑名單卡片 -->
                        <div class="followCard col-3 ">
                            <div class="followPic"><img class="jo_hover pic_hover" src="../assets/img/memberPic/b.jpg" alt="">
                            </div>
                            <div class="followTitle">
                                <div>
                                    <h4 class="jo_hover title_hover">貝卡斯</h4>
                                </div>

                                <div>
                                    <input type="button" class="jo_btn jo_btnBlue jo_btn_s" value="從黑名單移除">
                                </div>

                            </div>
                        </div>
                        <!-- 我的黑名單卡片結束 -->





                    </div>

                    <!-- ------------------------------------------ -->
                    <!-- 啾轉幸運盤 -->
                    <div id="luckySection" class="memberEvent">
                        <div class="luckyCard">
                            <div class="luckyTitle">
                                <h5>經驗值</h5>
                            </div>
                            <h4 id="totalExp">目前總經驗值：<span></span> Exp</h4>
                            <div id="barSection">
                                <h4 id="needExp">距離下次抽獎還需 <span>30 Exp</span></h4>
                                <div class="progress" id="expBar">
                                    <div id="expBarInner"
                                        class="progress-bar progress-bar-striped progress-bar-animated"></div>
                                </div>
                                <div style="width:100%">
                                    <div id="bobbleDiv">
                                        <div id="triangle"> </div>
                                        <div id="expBobble">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="luckyTitle">
                                <h5>獎品兌換</h5>
                            </div>
                            <div id="ChangeGift">
                                <h4 id="lotteryCount">還可以進行 <span>30</span> 次抽獎</h4>
                                <input type=" button" value="點我兌換" class="jo_btn jo_btn_m jo_btnWater"
                                    id="changeClickBtn" data-toggle="modal" data-target="#wheelModal">
                            </div>

                            <div class="luckyTitle">
                                <h5>兌換紀錄</h5>
                            </div>

                            <!-- 禮物卡片 -->
                            <div class="joiningCard">
                                <div class="joiningPic giftPic">
                                    <img class="jo_hover pic_hover" src="../assets/img/gift/giftA.jpg" alt="">
                                </div>
                                <div class="joiningInfo giftInfo">
                                    <ul>
                                        <li>
                                            <h4>千年積木</h4>
                                        </li>
                                        <li>
                                            <h6>兌換期限：2020/07/30</h6>
                                        </li>

                                    </ul>
                                </div>
                                <div class="joiningBtn">
                                    <div></div>
                                    <div><input type="button" class="jo_btn jo_btnRed jo_btn_s" value="兌換"
                                            data-toggle="modal" data-target="#changeGift_modal"></div>
                                </div>
                            </div>
                            <!-- 禮物卡片結束 -->

                            <!-- 禮物卡片 -->
                            <div class="joiningCard">
                                <div class="joiningPic giftPic">
                                    <img class="jo_hover pic_hover" src="../assets/img/gift/giftB.jpg" alt="">
                                </div>
                                <div class="joiningInfo giftInfo">
                                    <ul>
                                        <li>
                                            <h4>千年智慧輪</h4>
                                        </li>
                                        <li>
                                            <h6>兌換期限：2020/07/1</h6>
                                        </li>

                                    </ul>
                                </div>
                                <div class="joiningBtn">
                                    <div></div>
                                    <div><input type="button" class="jo_btnGrey jo_btn_s" value="已兌換"></div>
                                </div>
                            </div>
                            <!-- 禮物卡片結束 -->


                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>









    <!-- ---------------------------------------modal--------------------------------------- -->

    <!-- J轉幸運盤Modal -->
    <div class="modal fade" id="wheelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog  wheelModal-dialog  modal-dialog-centered" role="document">
            <div class="jo_modal wheelModal_width ">
                <div class="jomodal_title">
                    <button role="button" data-dismiss="modal" class="modal_close jo_hover" title="Close"
                        class="madalClose"><span></span></button>
                </div>
                <div class="jomodal_content ">
                    <h1>幸運轉盤</h1>
                    <div id="wheel">
                        <div class="wheelPoleCircle wheelPoleCircleOut"> </div>
                        <div class="wheelPoleCircle"> </div>
                        <div class="wheelPole"> </div>
                        <div class="wheelFrame">

                            <div class="wheelCenter wheelStar"></div>
                            <div class="wheelCenter"></div>
                            <div class="wheelCenterOuter wheelCenter "></div>

                            <!-- 外框線 -->
                            <div class="wheelOuter"></div>

                        </div>
                    </div>
                    <input type="button" class="jo_btn jo_btnOrange" id="luckyClick" value="點我抽獎">

                    <img id="giftImage" class="giftShow">
                    <div class="giftGetInfo giftShow"> </div>




                </div>
            </div>
        </div>
    </div>

    <!-- 兌換modal -->
    <div class="modal fade" id="changeGift_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog changeGift_modal-dialog  modal-dialog-centered" role="document">
            <div class="jo_modal">
                <div class="jomodal_title">
                    <button role="button" data-dismiss="modal" class="modal_close jo_hover" title="Close"
                        class="madalClose"><span></span></button>
                </div>
                <div class="jomodal_content">
                    <h1>獎品兌換</h1>
                    <h5 class="cancelInfo">我要兌換 <span>千年積木<span>*1</h5>
                    <div id="changeGift_QR"></div>
                    <h5 class="cancelInfo">序號：abcdefg123456789</h5>

                </div>
                <div class="jomodal_footer">
                </div>
            </div>
        </div>
    </div>

    <!-- 取消jo團modal -->
    <div class="modal fade" id="cancelHoding_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cancelHoding_modal-dialog  modal-dialog-centered" role="document">
            <div class="jo_modal">
                <div class="jomodal_title">
                    <button role="button" data-dismiss="modal" class="modal_close jo_hover" title="Close"
                        class="madalClose"><span></span></button>
                </div>
                <div class="jomodal_content">
                    <h1>取消Jo團</h1>
                    <h5 class="cancelInfo">請填寫取消原因，<br>我們會將取消的原因發布給參加者：</h5>
                    <textarea name="" id="" rows="6" placeholder="請填寫原因" class="jo_scrollbar"></textarea>
                </div>
                <div class="jomodal_footer">
                    <input type="button" class="jo_btn jo_btn_m  jo_btnOrange" value="確定">
                    <input type="button" class="jo_btn jo_btn_m  jo_btnBlue" data-dismiss="modal" value="再想一下">
                </div>
            </div>
        </div>
    </div>


    <!-- 取消參加modal -->
    <div class="modal fade" id="cancelJoing_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cancelJoing_modal-dialog  modal-dialog-centered" role="document">
            <div class="jo_modal ">
                <div class="jomodal_title">
                    <button role="button" data-dismiss="modal" class="modal_close jo_hover" title="Close"
                        class="madalClose"><span></span></button>
                </div>
                <div class="jomodal_content ">
                    <h1>取消參Jo</h1>
                    <h5 class="cancelInfo cancelCheck">確定要取消參加<br> <span>「寶可夢咖啡聚會」?<span></h5>

                </div>
                <div class="jomodal_footer">
                    <input type="button" class="jo_btn jo_btn_m  jo_btnOrange" value="確定">
                    <input type="button" class="jo_btn jo_btn_m  jo_btnBlue" data-dismiss="modal" value="再想一下"">
                </div>
            </div>
        </div>
    </div>




    <!-- 評分 -->
    <div class=" modal fade" id="giveStar_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                    <div class="modal-dialog giveStar_modal-dialog  modal-dialog-centered" role="document">
                        <div class="jo_modal">
                            <div class="jomodal_title">
                                <button role="button" data-dismiss="modal" class="modal_close jo_hover" title="Close"
                                    class="madalClose"><span></span></button>
                            </div>
                            <div class="jomodal_content giveStar_modal_content">
                                <h1>留下評價</h1>
                                <h5 class="cancelInfo"> <img src="../assets/img/memberPic/gun.jpg" alt=""
                                        class="giveStarAvatar"> 大傑 </h5>
                                <hr>
                                <div class="jo_rating">
                                    <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt="">
                                    <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt="">
                                    <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt="">
                                    <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt="">
                                    <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt="">
                                </div>
                                <hr>
                                <textarea name="" id="" rows="6" placeholder="留下評價，給Jo主一點鼓勵喔！"
                                    class="jo_scrollbar"></textarea>
                            </div>
                            <div class="jomodal_footer">
                                <input type="button" class="jo_btn jo_btn_m  jo_btnOrange" value="送出評價">
                                <input type="button" class="jo_btn jo_btn_m  jo_btnBlue" data-dismiss="modal"
                                    value="取消">
                            </div>
                        </div>
                    </div>
                </div>



                <!-- 查看評分 -->
                <div class="modal fade" id="seeRaking_modal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog giveStar_modal-dialog  modal-dialog-centered" role="document">
                        <div class="jo_modal">
                            <div class="jomodal_title">
                                <button role="button" data-dismiss="modal" class="modal_close jo_hover" title="Close"
                                    class="madalClose"><span></span></button>
                            </div>
                            <div class="jomodal_content giveStar_modal_content">
                                <h1>查看評價</h1>
                                <h5 class="cancelInfo seeRankInfo">在活動<span>「猜拳大會」</span>中所獲得的評價 </h5>
                                <hr>
                                <div class="seeRankMember">
                                    <div class="seeRank_memberCard">
                                        <h5 class="joTitle_hover jo_hover">姍姍來了</h5>
                                        <div class="jo_getRate">
                                            <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt="">
                                            <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt="">
                                            <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt="">
                                            <img src="../assets/img/jo_icon/jo_i_starFull.svg" alt="">
                                            <img src="../assets/img/jo_icon/jo_i_starHalf.svg" alt="">
                                        </div>
                                        <div class="commentContent ">
                                            <div>
                                                這個活動還不錯!
                                            </div>
                                        </div>
                                        <hr>
                                    </div>



                                </div>


                            </div>

                        </div>
                    </div>
                </div>







                <div id="jo_footer">
                    <img id="jo_footerBG" src="../assets/img/jo_images/jo_footer.svg" alt="">
                    <div id="jo_Info"> footer內容放這</div>
                </div>
                
                <script src="../assets/js/jo_js.js"></script>
                <script src="../assets/js/member.js"></script>


</body>

</html>